.logo
{
    height: auto;
    background-color: rgb(253, 254, 254);
}
.logo img
{
    max-width: 30%;
    height: auto;
}
.menu
{
    height: 80px;
    background-color: black;
}
a
{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border: double 2px blue;
    border-radius: 8px;
}
a:hover
{
    background-color: blue;
    color: white;
}
.trai
{
    height: auto;
    background-color:white ;
}
.phai
{
    height: auto;
    background-color:rgb(251, 251, 251) ;
}
.trai img
{
    max-width: 25%;
    height: auto;
}
.trai p
{
     max-width: 20%;
    height: auto;
}
.phai
{
    max-width: 100%;
    height: auto;
}
.tin
{
    height: 50px;
    background-color: white;
}
.t1
{
    height: auto;
    background-color: rgb(250, 250, 250);
}
.t1
{
    height: auto;
    background-color: rgb(250, 250, 250);
}
.t2
{
    height: auto;
    background-color: rgb(253, 254, 254);
}
.t3
{
    height: auto;
    background-color: rgb(249, 251, 251);
}
.t4
{
    height: auto;
    background-color: rgb(252, 252, 251);
}
.p1
{
    height: auto;
    background-color: rgb(250, 250, 250);
}
.p2
{
    height: auto;
    background-color: rgb(253, 254, 254);
}
.p3
{
    height: auto;
    background-color: rgb(249, 251, 251);
}
.p4
{
    height: auto;
    background-color: rgb(252, 252, 251);
}
p
{
    max-width: 70%;
    height: auto;
}